.timeline {
  border-left: 3px solid #cfcfcf;
  padding-left: 40px;
  margin-top: 20px;
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -47px;
  top: 6px;
  width: 14px;
  height: 14px;
  background: #333;
  border-radius: 50%;
}

.timeline-date {
  font-weight: bold;
  font-size: 1rem;
  color: #444;
  margin-bottom: 5px;
}

.timeline-content h3 {
  margin: 5px 0;
}
